//font-family: 'Pacifico', cursive;
//font-family: 'Open Sans', sans-serif;
body{
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    width: 100%;
    color:#000;
    background:url(../img/head_bg.png) left top;
    background-repeat: repeat-x;
    background-size:auto;
    width: 100vw;
    position: relative;
}
