

.header{
    background: url('../img/head_bg.png') no-repeat center top;
    height: 100vh;
   
    hr{
        background-color:#797979;
        height: 1px;
        border:none;
        margin-top: 10px;
    }
    .navMenu{
        display: flex;
        align-items: baseline;
        padding-top: 20px;
        justify-content: space-between;
       
        &__logo{
            width: 67px;
            height: 67px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #11749e;
            box-shadow: 12px 8px 0 rgba(214, 214, 214, 0.7);
            font-weight: 700;
        
            span{
                color:#fff;
                font-size: 30.5px;
            }

        }

        &__item{
            padding-left: 250px;
            ul{
                display: flex;
               
                li{
                    padding-right: 45px;
                    

                    a{
                        color:#fff;
                        font-size: 20px;
                        font-family: Myriad Pro Regular;
                        position: relative;
                        
                       
                    }
                    a:hover::after{
                        content: "";
                        display:block;
                        width: 100%;
                        height: 3px;
                        border:none;
                        background-color: #11749e;
                        position: absolute;
                        top:45px;
                        animation: line 0.4s  ease-in-out;
                    }
                                        
                }              
               
            }
        }
        &__shareItem{
           
            a{

                img{
                    padding-right: 30px;
                    max-width: 100%;
                }
            }
        }
    }
    .mainTitle{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-transform: uppercase;
        font-family: 'Gotham';
        padding-top: 28vh;
        
        h1{
            color:#fff;
            font-weight: 700;
            font-size: 11em;
            
        }

        span{
            color:#11749e;
            font-size: 1.8em;
            font-weight: 400;
            letter-spacing: 19px;
            word-spacing: 40xp;

        }
    }
    .scrollButton{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 12vh;
        padding-bottom: 10vh;
        
        span{
            color: #fff;
            padding-bottom: 20px;
            font-size: 13px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
        }
        &__btn{
            display: flex;
            justify-content: center;
            align-items: center;
            border:1px solid #fff;
            border-radius: 50%;
            width: 65px;
            height: 65px;
            position: relative;
            overflow: hidden;

            img{
                z-index: 2;
            }

        }
        &__btn:hover::after{
            content: "";
            display: block;
            position: absolute;
            top:0;
            background-color: #11749e;
            width: 100%;
            height: 100%;
            z-index: 1;
            animation: scroll 0.7s ease-in-out;
            
        }
    }
   
}


@keyframes line {
    from {width: 0;}
    to {width: 100%;}
}
@keyframes scroll {
    from {top: -100%;}
    to {top: 0;}
}