.blog{
    background: url(../img/blog/blog_bg.png) no-repeat center top;
    color:@main-text;
    position: relative;
    // -------------Скрытый контейнер для выыода текста Read more
    .read-more-wraper{
        position: absolute;
        max-width: 100%;
        height: 100%;
        background: url(../img/blog/blog_bg.png) no-repeat center top;
        z-index: -1;
       //-----возврат при нажатии на задний фон 
        #read-less-bg{
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            
        }
        &-content{
            max-width: 80%;
            margin: 25px auto 0;
            position: relative;
            background: #f3f3f3;
            padding: 25px;
            column-count: 2;
            h3{
                column-span: all;
                text-transform: uppercase;
            }
            #read-less-btn{
                display: block;
                position: absolute;
                width: 50px;
                right: 15px;
                top: 10px;
                cursor: pointer;
                text-decoration: underline;
                color:#ff8686;
                text-align: right;
                
            }
            #read-less-btn:hover::before{
                content: '\2190';
                color:#ff8686;
                
            }
            #read-less-btn:hover{
                text-decoration:none;
                padding-left: 5px;
            }
        }
        
    }
    //------Показать скрытый текст 
    #read-more:checked ~ .read-more-wraper{
        z-index: 99;
    }
    //------Скрыть текст 
    #read-less:checked ~ .read-more-wraper{
        z-index: -1;
    }
    
    //-------------------Контейнер для слайдеров
    &-slider{
        padding-left: 95px;
        overflow-y: hidden;
        height: 680px;
        
        label{
            right: 90px;
            border-color: #b2b3b3;
        }
        #slider__point__blog_1{
            top:48%;
        }
        #slider__point__blog_2{
            top:50%;
        }
        #slider__point__blog_3{
            top:52%;
        }
        
        
        #blog_1:checked ~ &-wraper{
            bottom:0;
        }
        #blog_1:checked ~ .blog-slider-point #slider__point__blog_1{
            background:#b2b3b3;
        }
        #blog_2:checked ~ &-wraper{
            bottom:100%;
        }
        #blog_2:checked ~ .blog-slider-point #slider__point__blog_2{
            background:#b2b3b3;
        }
        #blog_3:checked ~ &-wraper{
            bottom:200%;
        }
        #blog_3:checked ~ .blog-slider-point #slider__point__blog_3{
            background:#b2b3b3;
        }
        &-wraper{
            max-width: 670px;
            width: 100%;
            height: 100%;
            //height: 1px;
            position: relative;
            transition: 0.5s ease-in-out;
            
            h2{
                padding-top: 70px;
                text-transform: uppercase;
                font-size: 20px;
                color:#fff;
                font-family: 'Source Sans Pro', sans-serif;
                font-weight: 300;
                letter-spacing: 3px;
                
            }
            #blog_title{
                display: block;
                max-width: 65%;
                color:#b2b3b3;
            }
            
            &-content{
                width: 80%;
                margin-left: 75px;
                margin-top:100px;
                
                h3{
                    margin: 0;
                    color:#b2b3b3;
                    font-size: 20px;
                    font-weight: 400;
                }
                em{
                    line-height: 2;
                    text-transform: uppercase;
                    font-weight: 300;
                    
                    span{
                        color:@base-green;
                    }
                }
                #blog_counter{
                    color:#464646;
                    font-family: 'Source Sans Pro', sans-serif;
                    font-weight: 300;
                }
                p{
                    padding-top: 55px;
                    padding-bottom: 45px;
                    font-weight: 400;
                    
                }
                /*a{
                    text-decoration: none;
                    color:#b2b3b3;
                }
                a:hover{
                    color:@base-green;
                }*/
                #read-more-btn{
                    color:#b2b3b3;
                    cursor: pointer;
                }
                #read-more-btn:hover{
                    color:@base-green;
                }
            }
        }
    }
    
}