.services-content{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
        
    &-icons {
        margin-left: 20px;
        a{
            display: flex;
            width: 54px;
            height: 54px;
            border-radius: 50%;
            background-color:@main-text;
            justify-content: center;
            align-items: center;
    }
    }
    &-description{
        max-width: 400px;
        margin-left: 40px;
        margin-right: 80px;
    }
    &-diagram{
        display: flex;
        flex-wrap: nowrap;
        text-align: center;
    
    }
}