@main-text:#dcdcdc;

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: rgb(255, 255, 255);
    width: 100%;
    overflow-x: hidden;
}

.main_contanier{
    max-width: 1590px;
    width: 100%;
    margin: 0 auto;
}
.offer_contanier{
    max-width: 1245px;
    width: 100%;
    margin: 0 auto;
}
*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    margin: 0;
    padding: 0;
}
p{
    padding: 0;
    margin: 0;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
.main_title{
    position: relative;
    text-align: center;
    max-width: 65%;
    margin: 120px auto 0;
    h1{
        text-transform: uppercase;
        color:#1ab798;
        display: block;
        position: relative;
        font-size: 1.9rem;
        font-weight: 700;
        margin-bottom: 95px;
    }
    h1::after, h1::before{
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        width: 65px;
        height: 1px;
        background-color: #babdc1;
    }
    h1::after{
        right: 26%;
    }
    h1::before{
        left: 26%;
    }
    img{
        position: absolute;
        top:45px;
        left: 50%;
        display: block;
        transform: translate(-50%);
    }
    p{
        font-size: 1rem;
        line-height: 1.5;
        letter-spacing: 0.3px;
        color: #282528;
    }
}