.email__box{
    max-width: 366px;
    max-height: 339px;
    margin: 200px auto;
    border:1px solid #8b929b;
    background: rgba(255, 214, 195, 0.5);
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        legend{
            font-size: 15px;
            text-align: center;
            margin-bottom: 25px;
            margin-top: 29px;
        }
        input{
            width: 286px;
            height: 36px;
            margin-bottom: 20px;
        }
        .data__form{
            border:2px solid #ce5176;
            border-radius: 4px;
            background: rgba(181, 149, 232, 0.3); 
            padding-left: 15px;
        }
        #data__phone{
            margin-bottom: 35px;
        }
        .data__form::placeholder{
            font-size: 15px;
            color:#000;
        }
        .data__btn{
            height: 52px;
            border-radius: 4px;
            outline: none;
            background: #b595e8;
            font-size: 25px;
            color:#000;
            font-weight: 700;
            border: none;
            line-height: 50px;
            margin-bottom: 29px;
        }
    }
}