/*
font-family: 'Roboto', sans-serif;
font-family: 'PT Serif', serif;
*/
.contanier {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}
.d-flex {
  display: flex;
}
.coll {
  flex-direction: column;
}
.justify-content {
  justify-content: center;
}
body {
  color: #5e5e5e;
}
a {
  text-decoration: none;
}
.d-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(633px, auto) minmax(295px, auto) minmax(515px, auto) minmax(285px, auto) minmax(660px, auto) minmax(338px, auto) minmax(45px, auto);
}
.button {
  padding: 12px 19px 14px 19px ;
  display: block;
  border: 1px solid #ffc222;
  border-right-width: 21px;
}
.button::after {
  content: "\f105";
  position: absolute;
  font-family: 'icomoon';
  right: -14px;
  z-index: 10;
}
.header_contacts {
  background-color: #303030;
}
.header_contacts-wrapper {
  justify-content: flex-start;
  align-items: center;
  min-height: 45px;
}
.header_contacts-wrapper a {
  display: block;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  position: relative;
}
.header_contacts__phone,
.header_contacts__email {
  color: #d3d2d2;
  font-size: 14px;
  letter-spacing: 0.25px;
}
.header_contacts__phone {
  padding-left: 16px;
  padding-right: 33px;
}
.header_contacts__phone::before {
  content: '\f095';
  font-family: 'icomoon';
  position: absolute;
  left: 0;
  color: #ffc222;
}
.header_contacts__email {
  padding-left: 15px;
}
.header_contacts__email::before {
  content: "\f003";
  font-family: 'icomoon';
  position: absolute;
  left: -4px;
  top: -1px;
  color: #ffc222;
}
.header_contacts__btn {
  margin-left: auto ;
  line-height: 45px;
  background-color: #ffc222;
  color: #1b1b1b;
  padding: 0 40px 0 48px;
  font-size: 16px;
}
.header_contacts__btn::before {
  content: "\f0b1";
  font-family: 'icomoon';
  position: absolute;
  left: 20px;
  color: #1b1b1b;
}
.header_nav-wrapper {
  padding-top: 36px;
  padding-bottom: 24px;
  align-items: center;
}
.header_nav__list {
  margin-left: auto;
}
.header_nav__item {
  display: inline-block;
  border: 1px solid transparent;
  padding: 10px 16px 11px 17px;
  margin-left: 12px;
  transition: border 0.3s;
}
.header_nav__item a {
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #323232;
}
.header_nav__item:nth-child(1) {
  margin-left: 0;
}
.header_nav__item:hover {
  border-color: #ffc222;
}
.header_content {
  background: url('../../img/header_logo.jpg') no-repeat center / cover;
}
.header_content .slider_wrapper {
  position: relative;
}
.header_content .removable_wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  overflow-x: hidden;
}
.header_content .header_slider {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
  padding-bottom: 185px;
  min-width: 100%;
  transition: transform 0.7s;
}
.header_content .header_slider__title {
  font-size: 32px;
  letter-spacing: 1px;
  line-height: 36px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #fff;
}
.header_content .header_slider__description {
  font-size: 18px;
  font-family: 'PT Serif', serif;
  font-weight: 400;
  color: #d3d2d2;
  text-align: center;
  line-height: 24px;
  margin-top: 23px;
  margin-bottom: 40px;
}
.header_content .header_slider__description span {
  max-width: 620px;
  display: inline-block;
}
.header_content .main_btn {
  font-size: 14px;
  letter-spacing: 0.25px;
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #fff;
}
.header_content .main_btn::after {
  content: "\f105";
  position: absolute;
  font-family: 'icomoon';
  right: -14px;
  z-index: 10;
}
.header_content .sliderBtn {
  position: absolute;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  z-index: 100;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.header_content .left_btn::before {
  content: "\f104";
  font-family: 'icomoon';
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.header_content .right_btn {
  right: 15px;
}
.header_content .right_btn::before {
  content: "\f105";
  font-family: 'icomoon';
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.freeConsult_window {
  display: none;
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: rgba(27, 27, 27, 0.8);
  z-index: 100;
  top: 0;
  font-family: 'Roboto', sans-serif;
}
.freeConsult_window .form_wrapper {
  border: 1px solid black;
  border-radius: 5px;
  position: fixed;
  left: 50%;
  top: 40vh;
  display: flex;
  flex-direction: column;
  background-color: #d9d9d9;
  transform: perspective(300px) translate(-50%, 0px) translateZ(-600px);
}
.freeConsult_window .close::before {
  content: "";
  display: block;
  width: 15px;
  height: 2px;
  background-color: #000;
  position: absolute;
  top: 6.5px;
  right: 0px;
  transform-origin: 50% 50%;
  transform: rotateZ(45deg);
}
.freeConsult_window .close::after {
  content: "";
  display: block;
  width: 15px;
  height: 2px;
  background-color: #000;
  position: absolute;
  top: 6.5px;
  right: 0px;
  transform-origin: 50% 50%;
  transform: rotateZ(-45deg);
}
.freeConsult_window .close {
  width: 15px;
  height: 15px;
  position: fixed;
  top: 9px;
  right: 10px;
  cursor: pointer;
}
.consultation {
  min-width: 400px;
  padding-left: 15px;
  padding-right: 45px;
}
.consultation_input {
  height: 30px;
  border: 1px solid #ffc222;
  border-radius: 5px;
  outline: transparent;
  line-height: 28px;
  font-size: 16px;
  padding-left: 7px;
}
.consultation label {
  line-height: 30px;
  font-size: 16px;
  font-weight: 400;
  text-align: end;
  padding-right: 7px;
  color: #212020;
}
.consultation_btn {
  max-width: 125px;
  height: 30px;
  border: 1px solid #1b1b1b;
  background-color: #ffc222;
  border-radius: 5px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}
.grid_form {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "name inName" "phone inPhone" "... btn";
  grid-gap: 10px;
}
.usr_name {
  grid-area: inName;
}
.usr_phone {
  grid-area: inPhone;
}
.sub_btn {
  grid-area: btn;
  margin-top: 7px;
  cursor: pointer;
}
#name {
  grid-area: name;
}
#phone {
  grid-area: phone;
}
.modal_top {
  height: 45px;
  margin-bottom: 20px;
  width: 100%;
  border-bottom: 1px solid #595959;
  padding-right: inherit;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.modal_top__title {
  margin-left: 15px;
  font-size: 20px;
  color: #595959;
}
.modal_bot {
  height: 45px;
  margin-top: 40px;
  width: 100%;
  border-top: 1px solid #595959;
  padding-right: inherit;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.modal_bot__close {
  margin-right: 25px;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 4px 10px;
  outline: transparent;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  background-color: #fff8f8;
}
.transform {
  transform: perspective(0px) translate(-50%, 0px) translateZ(0px) !important;
  transition: all 0.9s ease-out;
}
