/*
font-family: 'Roboto', sans-serif;
font-family: 'PT Serif', serif;
*/
.contanier {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}
.d-flex {
  display: flex;
}
.coll {
  flex-direction: column;
}
.justify-content {
  justify-content: center;
}
body {
  color: #5e5e5e;
}
a {
  text-decoration: none;
}
.freeConsult_window {
  display: none;
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: rgba(27, 27, 27, 0.8);
  z-index: 100;
  top: 0;
}
.freeConsult_window .form_wrapper {
  border: 1px solid black;
  border-radius: 5px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 40vh;
  padding: 45px 30px 35px 25px;
}
.freeConsult_window .close::before {
  content: "";
  display: block;
  width: 15px;
  height: 2px;
  background-color: #000;
  position: absolute;
  top: 6.5px;
  right: 0px;
  transform-origin: 50% 50%;
  transform: rotateZ(45deg);
}
.freeConsult_window .close::after {
  content: "";
  display: block;
  width: 15px;
  height: 2px;
  background-color: #000;
  position: absolute;
  top: 6.5px;
  right: 0px;
  transform-origin: 50% 50%;
  transform: rotateZ(-45deg);
}
.freeConsult_window .close {
  width: 15px;
  height: 15px;
  position: fixed;
  top: 9px;
  right: 10px;
  cursor: pointer;
}
.consultation {
  min-width: 400px;
}
.consultation_input {
  height: 30px;
  border: 1px solid #ffc222;
  border-radius: 5px;
  outline: transparent;
  line-height: 28px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  padding-left: 7px;
}
.consultation label {
  line-height: 30px;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  text-align: end;
  padding-right: 7px;
  color: #ffc222;
}
.consultation_btn {
  max-width: 125px;
  height: 30px;
  border: 1px solid #1b1b1b;
  background-color: #ffc222;
  border-radius: 5px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}
.grid_form {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "name inName" "phone inPhone" "... btn";
  grid-gap: 10px;
}
.usr_name {
  grid-area: inName;
}
.usr_phone {
  grid-area: inPhone;
}
.sub_btn {
  grid-area: btn;
}
#name {
  grid-area: name;
}
#phone {
  grid-area: phone;
}
.header_contacts {
  background-color: #303030;
}
.header_contacts-wrapper {
  justify-content: flex-start;
  align-items: center;
  min-height: 45px;
}
.header_contacts-wrapper a {
  display: block;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  position: relative;
}
.header_contacts__phone,
.header_contacts__email {
  color: #d3d2d2;
  font-size: 14px;
  letter-spacing: 0.25px;
}
.header_contacts__phone {
  padding-left: 16px;
  padding-right: 33px;
}
.header_contacts__phone::before {
  content: '\f095';
  font-family: 'icomoon';
  position: absolute;
  left: 0;
  color: #ffc222;
}
.header_contacts__email {
  padding-left: 15px;
}
.header_contacts__email::before {
  content: "\f003";
  font-family: 'icomoon';
  position: absolute;
  left: -4px;
  top: -1px;
  color: #ffc222;
}
.header_contacts__btn {
  margin-left: auto ;
  line-height: 45px;
  background-color: #ffc222;
  color: #1b1b1b;
  padding: 0 40px 0 48px;
  font-size: 16px;
}
.header_contacts__btn::before {
  content: "\f0b1";
  font-family: 'icomoon';
  position: absolute;
  left: 20px;
  color: #1b1b1b;
}
.header_nav-wrapper {
  padding-top: 36px;
  padding-bottom: 33px;
}
.header_nav__list {
  margin-left: auto;
}
.header_nav__item {
  display: inline-block;
  border: 1px solid transparent;
  padding: 10px 16px 11px 17px;
  margin-left: 12px;
  transition: border 0.3s;
}
.header_nav__item a {
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #323232;
}
.header_nav__item:nth-child(1) {
  margin-left: 0;
}
.header_nav__item:hover {
  border-color: #ffc222;
}
