//out: null
//font-family: 'Open Sans', sans-serif;
//font-family: 'Source Sans Pro', sans-serif;

@base-green:#19bd9a;
@main-text:#81868e;
@title-color:#333b46;
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    background: #fff;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
}
.max-contanier{
    max-width: 1365px;
    margin: 0 auto;
    width: 100%;
}
.main-contanier{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}
.button{
    display: flex;
    width: 140px;
    height: 40px;
    border: 1px solid #333b46;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    
}
a{
    text-decoration: none;
}
.title-wrap{
    max-width: 470px;
    margin: 0 auto;
    text-align: center;
    padding-top: 70px;
        
    h2{
        text-transform: uppercase;
            font-size: 20px;
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 300;
            letter-spacing: 3px;
            word-spacing: 2px;
            color:@title-color;
    }
    p{
        color:@main-text;
        padding: 25px 0 45px;
        }
}
.hidden-input{
    display: none;    //спрятанные чекбоксы
}

 //---------------Точки выбора слайда 
    .slider-point{
        
        
            label{
                display:inline-block;
                width: 9px;
                height: 9px;
                border:1px solid @base-green;
                border-radius: 50%;
                position: absolute;
                bottom: 100px;
            }
            
        }
