/*
font-family: 'Roboto', sans-serif;
font-family: 'PT Serif', serif;
*/
.contanier{
    max-width:  1140px;
    padding: 0 15px;
    margin: 0 auto;
}
.d-flex{
    display: flex;
    
}
.coll{
    flex-direction: column;
}
.justify-content{
    justify-content: center;
}
body{
    color:#5e5e5e;
}
a{
    text-decoration: none;
}

.d-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(633px, auto) minmax(295px, auto) minmax(515px, auto) minmax(285px, auto) minmax(660px, auto)minmax(338px, auto) minmax(45px, auto);
}

.button{
    padding: 12px 19px 14px 19px ;
    display: block;
    border: 1px solid @orange;
    border-right-width: 21px;
    position: relative;
}
.button::after{
    content:"\f105";
    position: absolute;
    font-family: 'icomoon';
    right: -14px;
    z-index: 10;
    color: #fff;
}

@orange:#ffc222;

@import url('./blocks/header.less');
@import url('./blocks/services.less');
@import url('./blocks/modalWindow.less');