/*
font-family: 'Roboto', sans-serif;
font-family: 'PT Serif', serif;
*/
.contanier{
    max-width:  1140px;
    padding: 0 15px;
    margin: 0 auto;
}
.d-flex{
    display: flex;
    
}
.coll{
    flex-direction: column;
}
.justify-content{
    justify-content: center;
}
body{
    color:#5e5e5e;
}
a{
    text-decoration: none;
}





@orange:#ffc222;

@import url('./blocks/header.less');
@import url('./blocks/modalWindow.less');