.video_box{

    .video_description{

        .system_icon{
            display: flex;

            .mobile__operation__icon{
                width: 68px;
                height: 68px;
                border: none;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color:#0098cd;
                margin-right: 25px;
                transition: background-color 0.5s;
            }
            a:last-child{
                margin-right: 0;
            }
            a:hover{
                background-color: #000;
            }
            
        }
    }
}