// всплывающая форма 
.freeConsult_window{
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color:rgba(27, 27, 27, 0.8);
    z-index: 100;
    top: 0;
    font-family: 'Roboto', sans-serif;
    
    .form_wrapper{
        border:1px solid black;
        border-radius: 5px;
        position: fixed;
        left:50%;
        top:40vh;
        display: flex;
        flex-direction: column;
        background-color: #d9d9d9;
        transform: perspective(300px) translate(-50%, 0px) translateZ(-600px);
    }
    
    .close::before{
        content: "";
        display: block;
        width: 15px;
        height: 2px;
        background-color: #000;
        position: absolute;
        top: 6.5px;
        right:0px;
        transform-origin: 50% 50%;
        transform:rotateZ(45deg);
        
    }
    .close::after{
        content: "";
        display: block;
        width: 15px;
        height: 2px;
        background-color: #000;
        position: absolute;
        top: 6.5px;
        right:0px;
        transform-origin: 50% 50%;
        transform:rotateZ(-45deg);
        
    }
    .close{
        width: 15px;
        height: 15px;
        position: fixed;
        top: 9px;
        right: 10px;
        cursor: pointer;
    }

}
.consultation{
    min-width: 400px;
    padding-left: 15px;
    padding-right: 45px;

    &_input{
        height: 30px;
        border: 1px solid @orange;
        border-radius: 5px;
        outline: transparent;
        line-height: 28px;
        font-size: 16px;
        padding-left: 7px;
    }
    label{
        line-height: 30px;
        font-size: 16px;
        font-weight: 400;
        text-align: end;
        padding-right: 7px;
        color:#212020;
    }
    &_btn{
       max-width: 125px;
       height: 30px;
       border: 1px solid #1b1b1b;
       background-color: @orange;
       border-radius: 5px; 
       font-size: 14px;
       font-family: 'Roboto', sans-serif;

    }
}

.grid_form{
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
     "name inName"
     "phone inPhone"
     "... btn";
     
     
     grid-gap: 10px;
}
.usr_name{
    grid-area: inName;
}
.usr_phone{
    grid-area: inPhone;
}
.sub_btn{
    grid-area: btn;
    margin-top: 7px;
    cursor: pointer;
}
#name{
    grid-area: name;
}
#phone{
    grid-area: phone;
}

.modal_top{
    height: 45px;
    margin-bottom: 20px;
    width: 100%;
    border-bottom: 1px solid #595959;
    padding-right: inherit;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &__title{
        margin-left: 15px;
        font-size: 20px;
        color:#595959;    
    }
}
.modal_bot{
    height: 45px;
    margin-top: 40px;
    width: 100%;
    border-top: 1px solid #595959;
    padding-right: inherit;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &__close{
        margin-right: 25px;
        border-radius: 5px;
        border: 1px solid gray;
        padding: 4px 10px;
        outline: transparent;
        cursor: pointer;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        background-color: #fff8f8;
    }
}
.transform{
    transform: perspective(0px) translate(-50%, 0px) translateZ(0px) !important;
    transition: all 0.9s ease-out;
}
// конец всплывающей формы