.services{
    padding-top: 60px;
    &_wrapper{
        padding: 0;
    }
    &_content{
        justify-content: flex-start;
        padding: 0px 15px 62px 150px;
        align-items: center;
        &__title{
            max-width: 380px;
            position: relative;
            h2{
                font-size: 24px;
                line-height: 24px;
                color:#212020;
                font-family: 'Roboto', sans-serif;
                font-weight: 500;
                padding-bottom: 12px;
            }
            span{
                font-size: 14px;
                line-height: 18px;
                letter-spacing: 0.1px;
                font-family: 'PT Serif', serif;
            }
        }
        .allServices_btn{
            margin-left: auto;
            margin-right: 55px;
            
            #showServices{
                padding: 4px 30px 5px 33px;
                display: block;
                border: 3px solid #e6e6e6;
                color:#373636;
                font-size: 14px;
                letter-spacing: 0.25px;
                font-family: 'Roboto', sans-serif;
                line-height: 24px;
            }
        }
        &__title::before{
            content: "";
            display: block;
            position: absolute;
            width: 105px;
            height: 2px;
            background-color: @orange;
            top: 10px;
            left: -137px;
        }
    }
    &_description{
        background-color:#f9f9f9;
    }
    &_unit{
        display: grid;
        grid-template-columns:1fr 1fr 1fr;
        grid-template-rows: 1fr;
        text-align: center;
        padding: 2px 15px 25px 15px;
        grid-column-gap: 30px;
        background-color: #f4f4f4;
               
        &__description{
            padding: 30px 44px 72px 44px;
            
            
        }
        .description_img{
            padding-top: 40px;
        }
        .description_more{
            padding: 0 40px 40px 40px;
            
            &__btn{
                .order_btn{
                    padding: 12px 25px 12px 31px;
                    font-size: 14px;
                    color:#373636;
                    letter-spacing: 0.25px;
                    font-family: 'Roboto', sans-serif;
                    font-weight:500;
                }
            }
            &__detail{
                a{
                    color: #050505;
                    font-size: 14px;
                    line-height: 18px;
                    font-family: 'Roboto', sans-serif;
                    position: relative;
                    display: block;
                   
                }
                
                a::before{
                    content: "";
                    display: block;
                    width: 100%;
                    height: 1px;
                    background-color: #656565;
                    position: absolute;
                    bottom: 2px;
                }
            }
        }
        
    }
    .description_more{
        display: flex;
        align-items: center;
        justify-content: flex-start;
       
    }
    .left_side{
        margin-left: auto;
    }
}

